---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import { Image } from "astro:assets";
import random from "@assets/img/random.jpg";
import Link from "@components/ui/link.astro";
import Gatxs from "@assets/img/gatxs-portfolio.gif"
import Prueba from "@assets/img/prueba1.gif"
import Prueba2 from "@assets/img/fanzine.gif"


// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Sobre mí">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre m&iacute;</Fragment>
      <Fragment slot="desc">Formación, proyectos, intereses, deseos</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">

      <div class="grid md:grid-cols-2">
        <Image src={Prueba2} alt="Armando fanzine 2" height="600" class="object-scale-down m-auto"></Image>
      
        <p class="text-lg leading-relaxed text-slate-500 pt-10 md:pt-20 lg:pt-20">
        Me form&eacute; en Bellas Artes desde muy chica, donde pude aprender y trabajar en distintos soportes como grabado, dibujo y escultura. Al ver el enorme potencial del mundo digital, decid&iacute; buscar formas de <span class="font-bold">unir mis conocimientos anal&oacute;gicos art&iacute;sticos con nuevos formatos</span>.<br><br>
        Estudi&eacute; Tecnolog&iacute;a Multimedial en la Universidad Maim&oacute;nides. Durante mis años de formaci&oacute;n, conoc&iacute; <span class="font-bold">nuevos soportes, lenguajes y formas de conectar mundos diferentes entre s&iacute;</span>. Esta formaci&oacute;n y mi experiencia laboral me permiten poder trabajar en equipos multidisciplinarios, conociendo distintos flujos y procesos de trabajo.
        </p>

      </div>
      
      
      <span class="text-center mt-5 text-5xl">Conocer </span>
      <span class="text-center mt-1 text-5xl">Experimentar </span>
      <span class="text-center mt-1 mb-10 text-5xl">Compartir</span>

      <p class="text-lg leading-relaxed text-slate-500">
      Tengo experiencia en creaci&oacute;n y gestión de contenidos, ilustraci&oacute;n, modelado 3D y acompañamiento en proyectos / branding. Me interesan especialmente los proyectos relacionados a <span class="font-bold">educación, medio ambiente y accesibilidad</span>.
      <br><br><br>
      Me encanta leer, ver pel&iacute;culas, pasar tiempo con amigxs al aire libre, dibujar y estar con mis gatos 🐱
      </p>

      <Image src={Gatxs} alt="my picture" width="800" class="object-scale-down m-auto"></Image>

      <p class="text-lg leading-relaxed text-slate-500">
        Clickeando en el bot&oacute;n que est&aacute; debajo vas a poder ver algunos de los proyectos que realic&eacute; durante mi formaci&oacute;n universitaria. Y si querés ponerte en contacto conmigo por <span class="font-semibold">consultas, trabajos o sugerencias</span>, podes escribirme a <span class="font-bold">agustinagarciavega@gmail.com</span>.
      </p>

      <div class="mt-10 text-center">
        <Link href="/blog" class="hover:bg-indigo-200">Ver proyectos</Link>
      </div>

      <p class="text-2xl leading-relaxed text-slate-500 text-center mt-10 pb-20"> Gracias por ver / Thanks for watching :) </p>

    </div>

  </Container>
</Layout>
