---

import { Image } from "astro:assets";
import michael from "@assets/img/michael-scott.jpg";
import Link from "./ui/link.astro";
---

<div class="bg-black p-10 md:px-10 md:py-10 mt-5 mx-auto max-w-5xl rounded-lg">
  
  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl my-10 items-center text-center">

    <div class="">
      <Image src={michael} alt="my picture" width="400" class="object-scale-down h-480">
    </div>

    <div class="flex-col place-content-center items-center">
      <h2 class="text-white text-4xl md:text-4xl tracking-tight">
        ¡Hola!
      </h2>
    
      <p class="text-slate-400 mt-4 text-sm font-light">
        Mi nombre es Agustina, tengo 27 años y vivo en Buenos Aires, Argentina.
        Estudi&eacute; diseño multimedial, una carrera que me permiti&oacute; conocer <span class="font-bold">distintos lenguajes, herramientas y formas de relacionar cosas muy diversas entre s&iacute;.</span><br><br>
        Actualmente, trabajo en gesti&oacute;n y creaci&oacute;n de contenidos institucionales, en articulaci&oacute;n con un equipo multidisciplinario.
        Me interesan especialmente proyectos relacionados a <span class="font-bold">educaci&oacute;n, medio ambiente, ilustraci&oacute;n y desarrollo de identidad.</span>
      </p>
    </div>

  </div>

  <div class="text-center">
    <Link href="/about" style="inverted" class="hover:bg-indigo-200">Conocer m&aacute;s</Link>
  </div>


</div>




  