<div class="flex w-full lg:w-auto items-center justify-between mb-10">
    <span class="font-medium text-slate-500 text-xl uppercase">Diseño multimedia</span>
    <span class="font-medium text-slate-500 text-xl uppercase">Redacci&oacute;n y correcci&oacute;n</span>
    <span class="font-medium text-slate-500 text-xl uppercase">Ilustraci&oacute;n</span>
    <span class="font-medium text-slate-500 text-xl uppercase">Diseño 3D</span>
</div>