---
import { Image } from "astro:assets";
import yaguareteHeader from "@assets/img/header-portfolio.gif";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="grid place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="pb-6  md:block">
    <Image src={yaguareteHeader} alt="header-portfolio2024" width="900"/>
  </div>
  <div class="flex items-center flex-col text-center md:flex-row lg:flex-row">
    <div>
      <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">¡Hola! <br>Soy Agustina.</h1>
    </div>
    <div class="md:pl-10 lg:pl-10">
      <p class="text-xl mt-6 text-slate-600 max-w-xl">
        Tengo 27 años y vivo en Buenos Aires, Argentina.<br>Soy diseñadora multimedial, trabajando actualmente en la <span class="font-bold">creación y gestión de contenidos institucionales</span>.
        
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3 mx-8 text-center md:block lg:block">
        <Link
          href="#"
          href="https://drive.google.com/file/d/1hTeoNln1JYxsfbryO3akiaFJLKJG990v/view"
          target="_blank"
          class="flex gap-1 items-center justify-center hover:bg-slate-700"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
           Descarg&aacute; mi curr&iacute;culum :)
        </Link>
      </div>
    </div>
    
  </div>

  
</div>
